select {
  border-radius: 0px;
}

input:focus,
select:focus {
  outline: none !important;
}

.nearmiss_input_text {
  font-family: "Francois One", sans-serif !important;
  font-size: 20px !important;
  color: #787878 !important;
}

/*Fonts*/
.f_lato {
  font-family: "Lato", sans-serif;
}
.f_francois {
  font-family: "Francois One", sans-serif;
}

/*Near_miss_main_colours*/
.main_black_bg {
  background-color: #333333;
}

.main_black_font {
  color: #333333;
}

.grey_font {
  color: #787878;
}

.modal_grey {
  background-color: #526173;
  opacity: 96%;
}

.accent_green {
  background-color: #14da9e;
}

.error_red {
  color: #d43848;
  background-color: #d43848;
}

.b--nearmiss-black {
  border-color: #333333;
}
/*Uploading-photo animation*/
.outer {
  fill: transparent;
  stroke: #fff;
  stroke-width: 12px;
  stroke-dasharray: 150;
  stroke-dashoffset: 0;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-animation: draw 4s infinite;
  animation: draw 4s infinite;
}

.inner {
  fill: #fff;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-animation: fadeIn 4s infinite;
  animation: fadeIn 4s infinite;
}

.grow-1 {
  flex-grow: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
  }
}

@keyframes draw {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    stroke-dashoffset: 0;
  }
  50% {
    opacity: 0.8;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    stroke-dashoffset: 1000;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    stroke-dashoffset: 0;
  }
}
100% {
  -webkit-transform: scale(1);
  transform: scale(1);
  stroke-dashoffset: 0;
}

.input_arrow {
  background: url("/assets/Drop_down_arrow_ic.svg");
  background-repeat: no-repeat;
  background-position-x: 95%;
  display: inline-block;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.upload_icon {
  background: url("/assets/upload_photo_icon.svg");
  background-repeat: no-repeat;
  display: inline-block;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 5em;
  height: 5em;
  padding-top: 5em;
}

input {
  -webkit-appearance: none;
}
