html{
  height:100%;
  line-height: 0.8;
}
body{
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  flex-flow: column;
  margin-top: 22%;
  max-height: 100%;
}
.flex-thumbsdown{
  margin-bottom: 5%;
  order:1;
  height:18em;
  min-width: 100%;
}

.flex-thumbsup{
  order:2;
  height: 18em;
  min-width: 100%;
}

.up-img{
  height:80%;
  margin-top: 3%;
  margin-left:auto;
  margin-right: auto;
  display: block;
}
.down-img{
  height:80%;
  margin-left:auto;
  margin-right: auto;
  display: block;
}
.g-bg{
  background-color: #333333;
}
.thumbs-down{
  margin-bottom: 3%;
}

.button{
  width: 50%;
  color: black;
  border-radius: 25px;
  font-weight: lighter;
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 50px;
}

.position{
  position: fixed;
}

.logo-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.berkeley-logo{
  height: 32px;
}

.div-home{
  height: 108px;
}
.upload_icon {
  background: url('/assets/upload_photo_icon.svg');
  background-repeat: no-repeat;
  display: inline-block;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*Uploading-photo animation*/

.divi {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


.outer {
  fill: transparent;
  stroke: #FFF;
  stroke-width: 12px;
  stroke-dasharray: 150;
  stroke-dashoffset: 0;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-animation: draw 4s infinite;
  animation: draw 4s infinite;
}


.inner {
  fill: #FFF;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-animation: fadeIn 4s infinite;
  animation: fadeIn 4s infinite;
}

/*@-webkit-keyframes fadeIn {
0% {
opacity: 1;
}
50% {
opacity: 0.8;
-webkit-transform: scale(0.8);
transform: scale(0.8);
}
100% {
opacity: 1;
}
}*/

@keyframes fadeIn {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
  }
}

@keyframes draw {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    stroke-dashoffset: 0;
  }
  50% {
    opacity: 0.8;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    stroke-dashoffset: 1000;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    stroke-dashoffset: 0;
  }
}

/*@-webkit-keyframes draw {
0% {
-webkit-transform: scale(1);
transform: scale(1);
stroke-dashoffset: 0;
}
50% {
opacity: 0.8;
-webkit-transform: scale(0.8);
transform: scale(0.8);
stroke-dashoffset: 1000;
}
100% {
-webkit-transform: scale(1);
transform: scale(1);
stroke-dashoffset: 0;
}
}*/
