html{
  height:100%;
  line-height: 0.8;
}

body{
  margin: 0;
  padding: 0;
  height: 100%;
}

.g-bg{
  background-color: #333333;
}

img{
  margin-left: auto;
  margin-right: auto;
  display: block;
}


.thumbsupimg{
  margin-top: 3%;
}

.height50{
  height:95%;
}
.height60{
  height:62px;
}

.button{
  width: 50%;
  color: black;
  border-radius: 25px;
  font-weight: lighter;
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 50px;
}

.logo-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.berkeley-logo{
  height: 32px;
}

.div-home{
  height: 108px;
}
/*Fonts*/

.f_lato {
  font-family: 'Lato', sans-serif;
}
.f_francois {
  font-family: 'Francois One', sans-serif;
}

/*Near_miss_main_colours*/
.main_black_bg {
  background-color: #333333;
}

.main_black_font {
  color: #333333;
}

.grey_font {
  color: #787878;
}

.modal_grey {
  background-color: #526173;
  opacity: 96%;
}

.accent_green {
  background-color: #14DA9E;
}

.error_red {
  color: #D43848;
  background-color: #D43848;
}

.upload_icon {
  background: url('/assets/upload_photo_icon.svg');
  background-repeat: no-repeat;
  display: inline-block;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*Uploading-photo animation*/

.divi {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


.outer {
  fill: transparent;
  stroke: #FFF;
  stroke-width: 12px;
  stroke-dasharray: 150;
  stroke-dashoffset: 0;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-animation: draw 4s infinite;
  animation: draw 4s infinite;
}


.inner {
  fill: #FFF;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-animation: fadeIn 4s infinite;
  animation: fadeIn 4s infinite;
}

/*@-webkit-keyframes fadeIn {
0% {
opacity: 1;
}
50% {
opacity: 0.8;
-webkit-transform: scale(0.8);
transform: scale(0.8);
}
100% {
opacity: 1;
}
}*/

@keyframes fadeIn {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
  }
}

@keyframes draw {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    stroke-dashoffset: 0;
  }
  50% {
    opacity: 0.8;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    stroke-dashoffset: 1000;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    stroke-dashoffset: 0;
  }
}

/*@-webkit-keyframes draw {
0% {
-webkit-transform: scale(1);
transform: scale(1);
stroke-dashoffset: 0;
}
50% {
opacity: 0.8;
-webkit-transform: scale(0.8);
transform: scale(0.8);
stroke-dashoffset: 1000;
}
100% {
-webkit-transform: scale(1);
transform: scale(1);
stroke-dashoffset: 0;
}
}*/
